In [1]:
import os
import pandas as pd
import numpy as np
os.getcwd()

'C:\\Users\\CristhianJohnatanIzq\\OneDrive - SQDM\\Proyecto2\\ENVIO_DARIO\\BENEFICIOS_SEGMENTACIONES_REQ_JORGE'

# Leyendo archivos de bajas 2021

Los nombres de los archivos en "DATA/archivos_bajas_2021/" deben tener la estructura 

Base Cns Nivel Nodos 2021-01-31.csv

El archivo recibido es de tipo binario, se debe guardar en la carpeta una copia de extensión csv

In [2]:
path_file = 'DATA/archivos_bajas_2021/'
archivos_bajas = os.listdir(path_file)

for j ,file in enumerate(archivos_bajas):
    mes = file[21:28]
    print(mes)
    # columna de producto homologado en algunos archivos vienen diferentes nombres
    try:
        use_cols = ['COD_NODO','SEGMENTO','Bajas Voluntarias']
        prod = 'Producto_Homologado'
        use_cols.append(prod)
        df = pd.read_csv(path_file+file, sep=';', decimal=',',  usecols=use_cols)
    except:
        use_cols = ['COD_NODO','SEGMENTO','Bajas Voluntarias']
        prod = 'PRODUCTO_HOMOLOGADO'
        use_cols.append(prod)
        df = pd.read_csv(path_file+file, sep=';', decimal=',',  usecols=use_cols)
    
    # seleccionando producto homologado internet y segmento residencial
    mask_arroba = (df[prod]=='@')
    mask_segmento = (df['SEGMENTO']=='RESIDENCIAL') | (df['SEGMENTO']=='RES')
    df = df[(mask_arroba & mask_segmento)].copy()
    
    # volviendo 0 los valores positivos en las bajas
    #df['Bajas Voluntarias'] = (df['Bajas Voluntarias']<0)*df['Bajas Voluntarias']
    
    # se realiza agrupación por nodos
    df_var = df.groupby('COD_NODO').agg({'Bajas Voluntarias':'sum'}).reset_index()
    df_var.columns = ['Nodo',mes]
    if j==0:
        df_var_2021 = df_var.copy()
    else:
        df_var_2021 = df_var_2021.merge(df_var.copy(), on ='Nodo', how='outer')


df_var_2021.set_index('Nodo', inplace=True)
df_var_2021 = (df_var_2021<0)*df_var_2021
df_var_2021.describe()

2021-01
2021-02
2021-03
2021-04
2021-05
2021-06

,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06
count,14575.000000,15221.000000,15322.000000,15684.000000,15576.000000,15618.000000
mean,-2.169262,-2.163130,-2.368229,-2.435922,-2.306818,-2.304008
std,2.657569,5.185976,3.394002,3.256497,2.980996,2.898008
min,-32.000000,-542.000000,-131.000000,-59.000000,-48.000000,-41.000000
25%,-3.000000,-3.000000,-4.000000,-4.000000,-3.000000,-4.000000
50%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

# Leyendo archivo de bajas 2020

In [3]:
df_var_2020 = pd.read_csv('DATA/bajas_voluntarias_2020_internet.csv', sep=';', decimal=',')
df_var_2020.columns = [x+'_2020' if x!='Nodo' else x for x in df_var_2020.columns]
df_var_2020.set_index('Nodo', inplace=True)
# volviendo 0 los valores positivos en las bajas
df_var_2020 = (df_var_2020<0)*df_var_2020
df_var_2020.describe()

,ene_2020,feb_2020,mar_2020,abr_2020,may_2020,jun_2020,jul_2020,ago_2020,sep_2020,oct_2020,nov_2020,dic_2020
count,13240.000000,13295.000000,13362.000000,13444.000000,13507.000000,13585.000000,13725.000000,13878.000000,14059.000000,14149.000000,14270.000000,14343.000000
mean,-2.226737,-2.604212,-2.311480,-1.676510,-1.721108,-2.124991,-2.649836,-2.835999,-2.473718,-2.609301,-2.156272,-2.399219
std,2.689643,3.066283,2.717104,2.117119,2.254804,2.701232,3.212310,4.344822,2.993033,3.025715,2.800633,2.966602
min,-32.000000,-35.000000,-26.000000,-32.000000,-48.000000,-59.000000,-34.000000,-131.000000,-35.000000,-32.000000,-48.000000,-62.000000
25%,-3.000000,-4.000000,-3.000000,-3.000000,-3.000000,-3.000000,-4.000000,-4.000000,-4.000000,-4.000000,-3.000000,-4.000000
50%,-1.000000,-2.000000,-1.000000,-1.000000,-1.000000,-1.000000,-2.000000,-2.000000,-2.000000,-2.000000,-1.000000,-2.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

# Leyendo archivos de nodos segmentados

Los archivos de nodos segmentados desde mayo deben tener nombres con la siguiente estructura:

Nodos_Segmentados_Mayo_21.csv   (EL NOMBRE DEL MES DEBE ESTAR COMPLETO VER dic_meses_seg EN EL SIGUIENTE BLOQUE DE CODIGO

Si el archivo remitido por Jorge Saenz tiene extensión xlsx convertirlo a csv

In [4]:
path_file = 'DATA/archivos_nodos_segmentados_2021/'
dic_meses_seg = {'ENERO':202101,'FEBRERO':202102,'MARZO':202103,'ABRIL':202104, 'BACK MARZO':202104,'MAYO':202105,
                'JUNIO':202106, 'JULIO':202107, 'AGOSTO':202108, 'SEPTIEMBRE':202109, 'OCTUBRE':202110, 
                 'NOVIEMBRE':202111, 'DICIEMBRE':202112}


df_segmentados_abril = pd.read_csv(f'{path_file}Segmentaciones_a_Abril_21.csv', sep=';', decimal=',')
df_segmentados_abril = df_segmentados_abril.explode('Nodo')
df_segmentados_abril = df_segmentados_abril[['Nodo','CRONOGRAMA VIGENTE']].copy()
df_segmentados_abril.columns = ['Nodo','mes']

# se agrega el nodo ERB que se había considerado en marzo pero no aparecía en el archivo hasta abril
df_segmentados_abril = df_segmentados_abril.append(pd.DataFrame.from_dict(data={'Nodo':['ERB'],'mes':['MARZO']}),
                                                   ignore_index=True)
df_segmentados_abril['mes'] = [dic_meses_seg[x] for x in df_segmentados_abril['mes']]
df_segmentados_abril = df_segmentados_abril[['Nodo','mes']]

list_df = [df_segmentados_abril]

path_file = path_file + 'desde_mayo/'
archivos_segmentados_desde_mayo = os.listdir(path_file)



for file in archivos_segmentados_desde_mayo:
    df_segmentados_mes = pd.read_csv(path_file + file, sep=';', decimal=',')
    df_segmentados_mes['Nodo'] = df_segmentados_mes['Nodo'].str.split(',')
    df_segmentados_mes = df_segmentados_mes.explode('Nodo')
    df_segmentados_mes = df_segmentados_mes[['Nodo']]
    mes = file[18:-7]
    print(mes)
    df_segmentados_mes['mes'] = dic_meses_seg[mes.upper()]
    list_df.append(df_segmentados_mes)
    
df_segmentados = pd.concat(list_df)
df_segmentados['mes'].value_counts()

Junio
Mayo

202106    206
202103     87
202105     85
202102     70
202104     46
202101     39
Name: mes, dtype: int64

# Leyendo archivo de Arpu y creando el dataframe de bajas

Copie todas las columnas del archivo segmentados_bajas.csv generado por el siguiente bloque de código y peguelo en la hoja data_bajas del archivo analisis_bajas_2021_comparado_ult_trimestre_2020.xlsx, el informe se genera en la hoja beneficios_bajas de este último archivo

In [5]:
df_arpu = pd.read_csv('DATA/arpu.csv', sep=';', decimal=',')
df_arpu = df_arpu[['NODO','Arpu']].copy()
df_arpu.columns=['Nodo','Arpu']

df_excel = df_segmentados.merge(df_var_2020, on='Nodo', how='left')
df_excel = df_excel.merge(df_var_2021, on='Nodo', how='left')

list_meses_2021 = ['2021-01','2021-02','2021-03','2021-04','2021-05','2021-06','2021-07',
                  '2021-08','2021-09','2021-10','2021-11','2021-12']
df_excel.fillna(value=0, inplace=True)
for mes in list_meses_2021:
    if mes not in df_excel.columns:
        df_excel[mes] = 0
    
df_excel = df_excel.merge(df_arpu, on='Nodo', how='left')



df_excel.to_excel('segmentados_bajas.xlsx', index=False)

# Leyendo marcaciones

El archivo Llamadas_N1.csv debe ser actualizado para cada corrida con las llamadas desde  enero  de 2020 hasta el último mes finalizado.

In [6]:
df_marcaciones = pd.read_csv('DATA/Llamadas_N1.csv', sep=';', decimal=',', usecols = ['NODO','ANIO','MES','CANT_LLAM_CUENTA'])
df_marcaciones.rename(columns={'NODO':'Nodo'}, inplace=True)
df_marcaciones['MES'] = [f'0{mes}' if mes<10 else f'{mes}' for mes in df_marcaciones['MES']]
df_marcaciones['MES'] = df_marcaciones['ANIO'].astype('str') + '_' + df_marcaciones['MES'] 
df_marcaciones = pd.pivot_table(df_marcaciones, values='CANT_LLAM_CUENTA', index='Nodo', columns='MES')
df_marcaciones.reset_index(inplace= True)
df_marcaciones.head()

MES,Nodo,2020_01,2020_02,2020_03,2020_04,2020_05,2020_06,2020_07,2020_08,2020_09,2020_10,2020_11,2020_12,2021_01,2021_02,2021_03,2021_04,2021_05,2021_06,2021_07
0,01J,1.0,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0,1.0,1.0,NaN,1.0,3.0,NaN,NaN,NaN,NaN,1.0
1,01S,6.0,1.0,6.0,3.0,4.0,10.0,10.0,13.0,15.0,19.0,4.0,5.0,22.0,12.0,9.0,8.0,15.0,11.0,2.0
2,02J,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,02S,NaN,3.0,3.0,4.0,7.0,5.0,5.0,9.0,8.0,11.0,5.0,6.0,9.0,6.0,7.0,4.0,17.0,8.0,4.0
4,03J,1.0,NaN,1.0,1.0,3.0,2.0,NaN,NaN,1.0,3.0,NaN,1.0,4.0,4.0,1.0,1.0,1.0,3.0,1.0

In [7]:
df_excel_marcaciones = df_segmentados.merge(df_marcaciones, on='Nodo', how='left')

df_excel_marcaciones.fillna(value=0, inplace=True)
list_meses_2021 = ['2021_01','2021_02','2021_03','2021_04','2021_05','2021_06','2021_07',
                  '2021_08','2021_09','2021_10','2021_11','2021_12']
for mes in list_meses_2021:
    if mes not in df_excel_marcaciones.columns:
        df_excel_marcaciones[mes] = 0
list_columns = ['Nodo','mes']
for a in [0,1]:
    for i in range(1,13):
        an_mes = f'202{a}_0{i}' if i <10 else f'202{a}_{i}'
        list_columns.append(an_mes)
df_excel_marcaciones = df_excel_marcaciones[list_columns].copy()
df_excel_marcaciones['VALOR'] = 3600
df_excel_marcaciones.to_excel('segmentados_marcaciones.xlsx', index=False)

In [8]:
df_excel_marcaciones

,Nodo,mes,2020_01,2020_02,2020_03,2020_04,2020_05,2020_06,2020_07,2020_08,...,2021_04,2021_05,2021_06,2021_07,2021_08,2021_09,2021_10,2021_11,2021_12,VALOR
0,N0H,202103,6.0,10.0,7.0,7.0,10.0,6.0,9.0,7.0,...,8.0,5.0,5.0,2.0,0,0,0,0,0,3600
1,TAE,202103,2.0,1.0,3.0,3.0,1.0,0.0,1.0,2.0,...,1.0,0.0,2.0,0.0,0,0,0,0,0,3600
2,N1C,202103,1.0,4.0,4.0,2.0,1.0,4.0,3.0,3.0,...,1.0,1.0,2.0,0.0,0,0,0,0,0,3600
3,SBW,202103,5.0,5.0,5.0,5.0,6.0,5.0,6.0,8.0,...,4.0,10.0,7.0,2.0,0,0,0,0,0,3600
4,U1A1,202104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,3600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,AEO,202105,14.0,17.0,17.0,36.0,10.0,22.0,31.0,26.0,...,17.0,25.0,11.0,7.0,0,0,0,0,0,3600
529,IZ2,202105,13.0,9.0,35.0,38.0,25.0,30.0,36.0,52.0,...,26.0,23.0,26.0,6.0,0,0,0,0,0,3600
530,UO35,202105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,17.0,17.0,5.0,0,0,0,0,0,3600
531,S4Y,202105,13.0,14.0,32.0,26.0,24.0,15.0,22.0,36.0,...,17.0,17.0,16.0,7.0,0,0,0,0,0,3600
532,UO4,202105,14.0,6.0,15.0,15.0,22.0,19.0,21.0,26.0,...,25.0,23.0,20.0,2.0,0,0,0,0,0,3600